<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 50px;
        }
        .btn-home {
            background-color: #007BFF;
            color: white;
        }
        .btn-home:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Peer to Peer SDN Management Interface</h1>
        <div class="text-center">
            <a href="p2p/flow_mod" class="btn btn-home btn-lg m-2">Flow Modification</a>
            <a href="/p2p/connect" class="btn btn-home btn-lg m-2">Peer Connect</a>
            <a href="/p2p/peer_list" class="btn btn-home btn-lg m-2">Peer List</a>
            <a href="/p2p/flow_table" class="btn btn-home btn-lg m-2">Flow Table</a>
            <a href="/p2p/topology/local" class="btn btn-home btn-lg m-2">Topology Local</a>
            <a href="/p2p/topology" class="btn btn-home btn-lg m-2">Topology Global</a>
            <a href="/p2p/topology/gui" class="btn btn-home btn-lg m-2">Topology Global</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
